modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Start WineNode App"

[[workflows.workflow]]
name = "Start WineNode App"
author = 42586508
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pkill -f \"vite\" || true"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
